# Секреты
.env
.env.*
!.env.example

# База
*.db
*.sqlite3
db-data/
db/*.db

# Питон
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
.eggs/
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/
*.swp
.DS_Store
